.buscar {
    margin: 0;
    
    padding: 7px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.inpButton {
    background-color: hsl(75, 75%, 50%);
    border: none;
    border-radius: 5px;
}

.inpForm {
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    padding: 2px;
}